<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Chat Friends</title>
    <style>
        html,
        body {
            font-family: Arial, Tahoma, sans-serif;
            margin: 0;
            padding: 0;
        }

        body {
            background: #302F31;
            padding: 10px;
        }

        form {
            margin: 15px 0;
        }

        form .sair {

            font-weight: bold;
            padding: 5px;
            width: 80.5%;

        }

        form .up {


            border-radius: 5px;
            font-weight: bold;
            width: 19%;

        }

        #chat {
            background: #e9e9e9;
            border-radius: 20px;
            height: 300px;
        }

        .redondo {
            border-radius: 10px;
        }

        .msgs {
            border-radius: 20px;
            padding-top: 1em;
            height: 100%;
            width: 100%;
            overflow-y: scroll;
        }

        .msgs p,
        b {
            margin-left: 1em;
            display: block;
        }

        .area-chat {
            margin-top: 3em;
            background: white;
            padding: 2em;
            border-radius: 10px;
        }

        .users-chat {
            margin-top: 3em;
            background: white;
            padding: 2em;
            border-radius: 10px;
            overflow-y: scroll;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="area-chat">
                    <input type='hidden' id='username' class="w-100 mb-2 form-control redondo" name='texto_mensagem'
                        placeholder="Nome de usuario" />
                    <div id="chat">
                        <div id="msgs" class="msgs">

                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-8">
                            <input type='text' id='msg' class="w-100 mb-2 form-control redondo" name='texto_mensagem'
                                placeholder="escreva sua mensagem..." onkeypress="envmsg(event)" />
                        </div>
                        <div class="col-md-2">
                            <input type='button' class="btn btn-outline-primary w-100 mb-2 up" value='Enviar'
                                onclick="enviar()" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn btn-outline-danger w-100 sair" data-toggle="modal"
                                data-target="#exampleModal" value="sair">
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deseja mesmo sair?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja sair? há pessoas interessantes aqui...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary w-100" data-dismiss="modal"
                        onclick="sair()">Sim</button>
                    <button type="button" class="btn btn-outline-danger w-100 " data-dismiss="modal"
                        aria-label="Close">Não</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"
        integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ=="
        crossorigin="anonymous">
        </script>
    <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
    <script src="js/config.js"></script>
    <script src="js/security.js"></script>
</body>

</html>