<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        html,
        body {
            font-family: Arial, Tahoma, sans-serif;
            margin: 0;
            padding: 0;
        }

        body {
            background: #302F31;
            padding: 10px;
        }

        form {
            margin: 15px 0;
        }

        form input[type='text'] {
            border: 2px solid #45C5BF;
            border-radius: 5px;
            padding: 5px;
            width: 80.5%;
        }

        form input[type='button'] {
            background: #45C5BF;
            border: none;
            border-radius: 5px;
            color: #FFF;
            cursor: pointer;
            font-weight: bold;
            padding: 7px 5px;
            width: 19%;
        }

        #chat {
            background: #FFF;
            border: 2px solid #45C5BF;
            height: 300px;
        }

        .msgs {
            padding-top: 1em;
            height: 100%;
            width: 100%;
            overflow-y: scroll;
        }

        .msgs p,
        b {

            margin-left: 1em;
            line-height: 5px;
        }
    </style>
</head>

<body>

    <div class="container">
        <div id="chat">
            <div id="msgs" class="msgs">

            </div>
        </div>
        <form>
            <input type='text' id='username' class="w-100 mb-2" name='texto_mensagem'
                placeholder="informe seu nick..." />
            <input type='text' id='msg' class="w-100 mb-2" name='texto_mensagem'
                placeholder="escreva sua mensagem..." />
            <input type='button' class="btn btn-primary w-100 mb-2" value='Enviar mensagem!' onclick="enviar()" />
            <input class="btn btn-danger w-100" value="sair" onclick="sair()">
        </form>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"
        integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ=="
        crossorigin="anonymous">
        </script>
    <script>

        //conecta com o servidor
        var socket = io('http://localhost:3000');

        function sair() {
            var usernameField = document.getElementById('username')
            var username = usernameField.value;

            var chat = document.getElementById('msgs');
            var b = document.createElement('b');
            b.innerHTML = username + " saiu"
            chat.append(b)


            socket.on('disconnect', () => {


            })
        }


        //mostra a mensagem
        socket.on('showmsg', (data) => {
            var chat = document.getElementById('msgs');
            var p = document.createElement('p');
            p.innerHTML = data.username + " diz :" + data.msg
            chat.append(p)

        })
        //evento de captura
        function enviar() {
            var msgField = document.getElementById('msg')
            var usernameField = document.getElementById('username')
            var msg = msgField.value;
            var username = usernameField.value;
            socket.emit("msg", { username: username, msg: msg });
        }
    </script>
</body>

</html>